## Для выполнения итогового проекта требуется решить две задачи:

### 1. Построить рекомендательную систему, благодаря которой можно будет предлагать клиентам интересные им курсы.
###  2. На основе этой системы составить итоговую таблицу с рекомендациями, снабдив её необходимыми комментариями, и представить  продакт-менеджеру.

### Решение первой задачи начинается в Metabase c помощью SQL-запроса, который поможет нам выяснить, какие клиенты школы купили более одного курса, то есть база данных вернет на два столбца: id таких пользователей и id курсов, покупку которых они соверишили

with a as
(
select user_id, resource_id
from final.cart_items ci 
	join final.carts c on ci.cart_id=c.id
where state='successful' and resource_type='Course'
group by 1, 2
),
b as 
(
select user_id, count(resource_id) as cc
from a
group by user_id
)
select b.user_id, a.resource_id
from b
 join a on b.user_id = a.user_id
where cc > 1
order by 1, 2

### Далее нам будет необходимо обработать данные посредством Python

In [1]:
#Загрузка необходимых библиотек
import pandas as pd
import numpy as np
import itertools
import statistics

In [2]:
#Загрузка полученного из Metabase файла с базой данный
df = pd.read_csv('finpr.csv')
df.head()

   user_id  resource_id
0       51          516
1       51         1099
2     6117          356
3     6117          357
4     6117         1125

In [3]:
#Подсчтиаем,насколько часто тот или иной курс был куплен, это даст нам понимание, какие курсы стали бестселлерами,
#а значит, их можно рекомендовать, если другие рекомендации окажутся нерелевантными из-за своей малочисленности
freq_df = df.resource_id.value_counts().reset_index()
freq_df['course_freq_perc']=freq_df.apply(lambda x: round(x['resource_id']/len(df)*100,2),axis=1)
freq_df = freq_df.rename(columns={'index':'course_id', 'resource_id':'course_freq_sum'})
freq_df

     course_id  course_freq_sum  course_freq_perc
0          551             2935              8.61
1          566             2342              6.87
2          515             1311              3.85
3          489             1125              3.30
4          490             1084              3.18
..         ...              ...               ...
121       1182                3              0.01
122        902                3              0.01
123       1200                2              0.01
124       1199                2              0.01
125       1201                2              0.01

[126 rows x 3 columns]

In [4]:
#По условию задания, нам необходимо дать две рекомендации
#Поэтому создадим две переменные, куда впишем id двух самых популярных курсов
first_best = freq_df['course_id'].values[0]
second_best = freq_df['course_id'].values[1]

In [5]:
#Вернемся к начальному датафрейму и сгруппируем курсы относительно пользователей, совершивших покупку
pairs=df.groupby(['user_id'])['resource_id'].apply(lambda x: list(np.unique(x))).reset_index()
pairs.head()

   user_id       resource_id
0       51       [516, 1099]
1     6117  [356, 357, 1125]
2    10275       [553, 1147]
3    10457       [361, 1138]
4    17166        [356, 357]

In [6]:
#Разобьем группы купленных курсов на пары
courses_list = list()
for resource in pairs['resource_id']:
    for pair in itertools.combinations (resource,2):
        courses_list.append(pair)

In [7]:
#Узнаем, сколько всего было таких пар
len(courses_list)

40017

In [8]:
#И сколько из этих пар - уникальные
courses_list_set = set(courses_list)
len(courses_list_set)

3989

In [9]:
#Подсчитаем, сколько раз была приобретена каждая пара курсов
from collections import Counter
popular= Counter ([pair for pair in courses_list])

In [10]:
#Выясним, какая пара оказалась самой популярной
{k:v for k,v in popular.items() if v == max(popular.values())}

{(551, 566): 797}

In [11]:
#Преобразуем данные счетчика в словарь с парами курсов в качестве значений и количесвом покупок в качестве ключей
sorted_pairs = {k:v for k,v in sorted(popular.items(),key=lambda item: item[0], reverse=False)}
sorted_pairs

{(356, 357): 100,
 (356, 360): 1,
 (356, 361): 17,
 (356, 366): 15,
 (356, 367): 12,
 (356, 368): 1,
 (356, 489): 26,
 (356, 490): 13,
 (356, 502): 17,
 (356, 503): 1,
 (356, 508): 1,
 (356, 509): 5,
 (356, 513): 1,
 (356, 514): 35,
 (356, 515): 21,
 (356, 516): 16,
 (356, 517): 3,
 (356, 519): 14,
 (356, 523): 24,
 (356, 551): 48,
 (356, 552): 7,
 (356, 553): 5,
 (356, 564): 3,
 (356, 566): 21,
 (356, 568): 6,
 (356, 569): 2,
 (356, 570): 1,
 (356, 571): 103,
 (356, 659): 4,
 (356, 671): 2,
 (356, 672): 4,
 (356, 679): 8,
 (356, 742): 1,
 (356, 743): 1,
 (356, 745): 8,
 (356, 749): 1,
 (356, 750): 3,
 (356, 753): 3,
 (356, 756): 5,
 (356, 757): 1,
 (356, 764): 8,
 (356, 765): 35,
 (356, 776): 2,
 (356, 777): 4,
 (356, 791): 1,
 (356, 794): 10,
 (356, 800): 3,
 (356, 803): 1,
 (356, 809): 2,
 (356, 829): 5,
 (356, 835): 1,
 (356, 840): 1,
 (356, 862): 3,
 (356, 863): 1,
 (356, 866): 1,
 (356, 907): 1,
 (356, 908): 3,
 (356, 909): 3,
 (356, 912): 34,
 (356, 1099): 3,
 (356, 1100): 5,
 (356, 1102): 1,
 (356, 1103): 4,
 (356, 1116): 1,
 (356, 1124): 1,
 (356, 1125): 44,
 (356, 1138): 4,
 (356, 1139): 1,
 (356, 1140): 2,
 (356, 1144): 9,
 (356, 1152): 2,
 (356, 1186): 4,
 (356, 1187): 1,
 (356, 1198): 2,
 (357, 360): 4,
 (357, 361): 18,
 (357, 362): 1,
 (357, 366): 11,
 (357, 367): 5,
 (357, 489): 10,
 (357, 490): 7,
 (357, 502): 23,
 (357, 503): 1,
 (357, 504): 1,
 (357, 509): 7,
 (357, 511): 1,
 (357, 513): 2,
 (357, 514): 28,
 (357, 515): 19,
 (357, 516): 21,
 (357, 517): 3,
 (357, 519): 13,
 (357, 523): 18,
 (357, 551): 51,
 (357, 552): 11,
 (357, 553): 16,
 (357, 566): 19,
 (357, 568): 7,
 (357, 569): 1,
 (357, 571): 112,
 (357, 659): 3,
 (357, 671): 2,
 (357, 672): 4,
 (357, 679): 3,
 (357, 741): 2,
 (357, 745): 17,
 (357, 749): 1,
 (357, 750): 10,
 (357, 753): 3,
 (357, 756): 2,
 (357, 757): 1,
 (357, 764): 7,
 (357, 765): 38,
 (357, 776): 4,
 (357, 777): 3,
 (357, 794): 7,
 (357, 803): 4,
 (357, 813): 1,
 (357, 829): 6,
 (357, 835): 1,
 (357, 840): 1,
 (357, 862): 1,
 (357, 863): 1,
 (357, 907): 1,
 (357, 908): 4,
 (357, 909): 3,
 (357, 912): 24,
 (357, 1099): 4,
 (357, 1100): 8,
 (357, 1101): 1,
 (357, 1103): 8,
 (357, 1116): 1,
 (357, 1125): 52,
 (357, 1128): 1,
 (357, 1138): 6,
 (357, 1139): 2,
 (357, 1144): 7,
 (357, 1146): 2,
 (357, 1147): 1,
 (357, 1152): 1,
 (357, 1156): 1,
 (357, 1186): 8,
 (357, 1187): 2,
 (357, 1198): 1,
 (358, 359): 15,
 (358, 361): 1,
 (358, 366): 5,
 (358, 367): 3,
 (358, 489): 4,
 (358, 490): 1,
 (358, 502): 2,
 (358, 507): 11,
 (358, 508): 7,
 (358, 511): 1,
 (358, 514): 6,
 (358, 515): 5,
 (358, 517): 1,
 (358, 518): 1,
 (358, 519): 2,
 (358, 523): 11,
 (358, 551): 16,
 (358, 552): 6,
 (358, 564): 1,
 (358, 566): 2,
 (358, 570): 25,
 (358, 750): 2,
 (358, 752): 19,
 (358, 755): 1,
 (358, 764): 2,
 (358, 777): 1,
 (358, 809): 5,
 (358, 840): 1,
 (358, 864): 1,
 (358, 908): 1,
 (358, 1100): 2,
 (358, 1103): 1,
 (358, 1104): 2,
 (358, 1115): 5,
 (358, 1152): 1,
 (358, 1181): 1,
 (358, 1184): 3,
 (359, 363): 1,
 (359, 366): 5,
 (359, 367): 4,
 (359, 489): 6,
 (359, 490): 2,
 (359, 502): 4,
 (359, 507): 12,
 (359, 508): 1,
 (359, 511): 2,
 (359, 514): 4,
 (359, 515): 6,
 (359, 517): 1,
 (359, 518): 2,
 (359, 519): 4,
 (359, 523): 11,
 (359, 551): 9,
 (359, 552): 3,
 (359, 564): 1,
 (359, 566): 7,
 (359, 570): 16,
 (359, 659): 1,
 (359, 679): 1,
 (359, 750): 2,
 (359, 752): 7,
 (359, 755): 1,
 (359, 756): 1,
 (359, 764): 1,
 (359, 777): 2,
 (359, 794): 1,
 (359, 809): 7,
 (359, 829): 1,
 (359, 864): 1,
 (359, 1104): 1,
 (359, 1115): 5,
 (359, 1152): 1,
 (359, 1181): 3,
 (359, 1184): 3,
 (359, 1199): 1,
 (360, 361): 1,
 (360, 365): 1,
 (360, 366): 4,
 (360, 367): 2,
 (360, 489): 1,
 (360, 509): 6,
 (360, 514): 2,
 (360, 515): 2,
 (360, 516): 12,
 (360, 519): 1,
 (360, 523): 7,
 (360, 551): 1,
 (360, 552): 1,
 (360, 553): 10,
 (360, 566): 1,
 (360, 568): 9,
 (360, 672): 1,
 (360, 679): 1,
 (360, 745): 17,
 (360, 777): 1,
 (360, 835): 1,
 (360, 864): 1,
 (360, 1099): 5,
 (360, 1100): 1,
 (360, 1102): 1,
 (360, 1128): 1,
 (360, 1139): 3,
 (360, 1146): 1,
 (360, 1186): 1,
 (360, 1187): 5,
 (361, 365): 1,
 (361, 366): 5,
 (361, 367): 8,
 (361, 489): 9,
 (361, 490): 4,
 (361, 502): 32,
 (361, 503): 5,
 (361, 507): 3,
 (361, 509): 6,
 (361, 511): 1,
 (361, 513): 1,
 (361, 514): 12,
 (361, 515): 16,
 (361, 516): 20,
 (361, 517): 4,
 (361, 518): 1,
 (361, 519): 8,
 (361, 523): 10,
 (361, 551): 49,
 (361, 552): 7,
 (361, 553): 10,
 (361, 562): 1,
 (361, 564): 1,
 (361, 566): 15,
 (361, 568): 3,
 (361, 569): 2,
 (361, 570): 2,
 (361, 571): 16,
 (361, 659): 1,
 (361, 672): 23,
 (361, 679): 2,
 (361, 741): 1,
 (361, 743): 1,
 (361, 744): 1,
 (361, 745): 17,
 (361, 749): 5,
 (361, 750): 3,
 (361, 752): 1,
 (361, 753): 3,
 (361, 756): 3,
 (361, 757): 2,
 (361, 764): 9,
 (361, 765): 7,
 (361, 776): 10,
 (361, 777): 2,
 (361, 791): 1,
 (361, 794): 11,
 (361, 813): 7,
 (361, 829): 1,
 (361, 840): 3,
 (361, 862): 1,
 (361, 863): 2,
 (361, 864): 3,
 (361, 865): 2,
 (361, 866): 1,
 (361, 907): 1,
 (361, 908): 3,
 (361, 909): 1,
 (361, 912): 5,
 (361, 1099): 1,
 (361, 1100): 8,
 (361, 1102): 1,
 (361, 1103): 1,
 (361, 1116): 1,
 (361, 1124): 2,
 (361, 1125): 13,
 (361, 1128): 1,
 (361, 1138): 40,
 (361, 1141): 1,
 (361, 1144): 1,
 (361, 1146): 1,
 (361, 1147): 2,
 (361, 1156): 2,
 (361, 1186): 2,
 (361, 1187): 4,
 (362, 363): 18,
 (362, 367): 1,
 (362, 489): 2,
 (362, 502): 1,
 (362, 504): 1,
 (362, 511): 2,
 (362, 513): 1,
 (362, 514): 1,
 (362, 515): 1,
 (362, 523): 2,
 (362, 551): 5,
 (362, 562): 8,
 (362, 563): 1,
 (362, 566): 3,
 (362, 570): 1,
 (362, 753): 1,
 (362, 777): 3,
 (362, 809): 1,
 (362, 814): 1,
 (362, 908): 1,
 (362, 909): 1,
 (362, 1102): 1,
 (362, 1160): 1,
 (363, 366): 5,
 (363, 367): 3,
 (363, 368): 1,
 (363, 489): 10,
 (363, 490): 1,
 (363, 502): 9,
 (363, 504): 3,
 (363, 507): 4,
 (363, 511): 99,
 (363, 513): 2,
 (363, 514): 17,
 (363, 515): 9,
 (363, 517): 2,
 (363, 519): 6,
 (363, 523): 10,
 (363, 551): 33,
 (363, 552): 7,
 (363, 562): 77,
 (363, 563): 33,
 (363, 564): 4,
 (363, 566): 20,
 (363, 569): 1,
 (363, 570): 2,
 (363, 659): 1,
 (363, 670): 2,
 (363, 671): 1,
 (363, 679): 8,
 (363, 741): 3,
 (363, 744): 2,
 (363, 745): 1,
 (363, 749): 2,
 (363, 750): 6,
 (363, 752): 2,
 (363, 753): 2,
 (363, 756): 1,
 (363, 757): 3,
 (363, 764): 7,
 (363, 776): 2,
 (363, 777): 9,
 (363, 791): 1,
 (363, 794): 7,
 (363, 803): 1,
 (363, 814): 2,
 (363, 829): 8,
 (363, 834): 1,
 (363, 840): 1,
 (363, 864): 1,
 (363, 865): 1,
 (363, 908): 1,
 (363, 1100): 2,
 (363, 1101): 1,
 (363, 1102): 4,
 (363, 1103): 6,
 (363, 1116): 1,
 (363, 1124): 1,
 (363, 1125): 1,
 (363, 1128): 2,
 (363, 1152): 2,
 (363, 1160): 3,
 (363, 1181): 1,
 (363, 1184): 1,
 (363, 1185): 1,
 (364, 365): 1,
 (364, 366): 2,
 (364, 367): 2,
 (364, 489): 1,
 (364, 502): 1,
 (364, 503): 5,
 (364, 513): 3,
 (364, 514): 1,
 (364, 515): 4,
 (364, 517): 2,
 (364, 519): 1,
 (364, 523): 1,
 (364, 551): 6,
 (364, 552): 2,
 (364, 564): 1,
 (364, 566): 2,
 (364, 569): 1,
 (364, 659): 1,
 (364, 664): 5,
 (364, 671): 1,
 (364, 679): 1,
 (364, 745): 1,
 (364, 750): 1,
 (364, 753): 1,
 (364, 756): 1,
 (364, 764): 1,
 (364, 776): 1,
 (364, 791): 1,
 (364, 794): 1,
 (364, 908): 1,
 (364, 1140): 2,
 (364, 1185): 2,
 (365, 366): 2,
 (365, 490): 1,
 (365, 503): 2,
 (365, 515): 2,
 (365, 517): 1,
 (365, 519): 2,
 (365, 551): 4,
 (365, 566): 3,
 (365, 659): 1,
 (365, 679): 1,
 (365, 742): 1,
 (365, 764): 1,
 (365, 776): 1,
 (365, 791): 1,
 (365, 1103): 2,
 (365, 1141): 3,
 (365, 1188): 1,
 (366, 367): 25,
 (366, 368): 14,
 (366, 489): 38,
 (366, 490): 28,
 (366, 502): 21,
 (366, 503): 5,
 (366, 504): 7,
 (366, 507): 6,
 (366, 508): 1,
 (366, 509): 2,
 (366, 511): 3,
 (366, 513): 6,
 (366, 514): 6,
 (366, 515): 45,
 (366, 516): 13,
 (366, 517): 6,
 (366, 518): 7,
 (366, 519): 18,
 (366, 523): 44,
 (366, 551): 63,
 (366, 552): 23,
 (366, 553): 6,
 (366, 562): 5,
 (366, 563): 1,
 (366, 564): 7,
 (366, 566): 26,
 (366, 568): 1,
 (366, 569): 9,
 (366, 570): 7,
 (366, 571): 15,
 (366, 572): 8,
 (366, 659): 8,
 (366, 664): 6,
 (366, 670): 2,
 (366, 671): 2,
 (366, 672): 3,
 (366, 679): 9,
 (366, 741): 2,
 (366, 742): 1,
 (366, 743): 1,
 (366, 744): 1,
 (366, 745): 16,
 (366, 749): 4,
 (366, 750): 6,
 (366, 752): 4,
 (366, 753): 5,
 (366, 755): 2,
 (366, 756): 2,
 (366, 757): 2,
 (366, 764): 12,
 (366, 765): 4,
 (366, 776): 7,
 (366, 777): 10,
 (366, 791): 1,
 (366, 794): 7,
 (366, 809): 6,
 (366, 813): 3,
 (366, 814): 1,
 (366, 829): 5,
 (366, 835): 1,
 (366, 836): 1,
 (366, 840): 7,
 (366, 862): 2,
 (366, 863): 2,
 (366, 864): 2,
 (366, 865): 1,
 (366, 908): 3,
 (366, 909): 1,
 (366, 912): 1,
 (366, 1099): 1,
 (366, 1100): 5,
 (366, 1101): 2,
 (366, 1102): 2,
 (366, 1103): 10,
 (366, 1115): 2,
 (366, 1116): 2,
 (366, 1125): 5,
 (366, 1128): 6,
 (366, 1138): 1,
 (366, 1139): 1,
 (366, 1140): 1,
 (366, 1141): 4,
 (366, 1144): 6,
 (366, 1145): 1,
 (366, 1152): 3,
 (366, 1161): 1,
 (366, 1182): 1,
 (366, 1185): 1,
 (366, 1186): 1,
 (366, 1187): 1,
 (366, 1188): 2,
 (366, 1198): 2,
 (367, 368): 5,
 (367, 489): 22,
 (367, 490): 11,
 (367, 502): 3,
 (367, 503): 4,
 (367, 507): 1,
 (367, 508): 2,
 (367, 509): 1,
 (367, 513): 3,
 (367, 514): 11,
 (367, 515): 38,
 (367, 516): 6,
 (367, 517): 5,
 (367, 518): 4,
 (367, 519): 8,
 (367, 523): 18,
 (367, 551): 46,
 (367, 552): 13,
 (367, 553): 2,
 (367, 563): 1,
 (367, 564): 6,
 (367, 566): 22,
 (367, 569): 2,
 (367, 570): 5,
 (367, 571): 7,
 (367, 572): 4,
 (367, 659): 1,
 (367, 664): 3,
 (367, 670): 1,
 (367, 671): 2,
 (367, 672): 6,
 (367, 679): 4,
 (367, 742): 1,
 (367, 743): 1,
 (367, 744): 1,
 (367, 745): 9,
 (367, 749): 5,
 (367, 750): 6,
 (367, 752): 2,
 (367, 753): 3,
 (367, 755): 1,
 (367, 756): 1,
 (367, 757): 2,
 (367, 764): 5,
 (367, 765): 3,
 (367, 776): 1,
 (367, 777): 4,
 (367, 791): 1,
 (367, 794): 6,
 (367, 809): 2,
 (367, 810): 1,
 (367, 814): 1,
 (367, 829): 1,
 (367, 840): 3,
 (367, 863): 1,
 (367, 864): 1,
 (367, 908): 2,
 (367, 909): 1,
 (367, 1100): 4,
 (367, 1102): 1,
 (367, 1103): 3,
 (367, 1104): 1,
 (367, 1115): 1,
 (367, 1116): 1,
 (367, 1125): 3,
 (367, 1128): 1,
 (367, 1138): 1,
 (367, 1144): 2,
 (367, 1145): 1,
 (367, 1152): 2,
 (367, 1156): 1,
 (367, 1160): 1,
 (367, 1181): 1,
 (368, 489): 10,
 (368, 502): 9,
 (368, 504): 23,
 (368, 507): 2,
 (368, 508): 1,
 (368, 511): 1,
 (368, 514): 9,
 (368, 515): 18,
 (368, 516): 1,
 (368, 517): 1,
 (368, 518): 2,
 (368, 519): 3,
 (368, 523): 23,
 (368, 551): 22,
 (368, 552): 8,
 (368, 564): 2,
 (368, 566): 6,
 (368, 569): 27,
 (368, 571): 1,
 (368, 572): 29,
 (368, 679): 1,
 (368, 750): 1,
 (368, 777): 1,
 (368, 794): 2,
 (368, 814): 1,
 (368, 829): 1,
 (368, 837): 1,
 (368, 840): 23,
 (368, 907): 1,
 (368, 908): 2,
 (368, 1100): 1,
 (368, 1101): 1,
 (368, 1103): 1,
 (368, 1115): 1,
 (368, 1129): 2,
 (368, 1145): 1,
 (368, 1161): 6,
 (489, 490): 152,
 (489, 502): 67,
 (489, 503): 7,
 (489, 504): 28,
 (489, 507): 25,
 (489, 508): 8,
 (489, 509): 10,
 (489, 511): 12,
 (489, 513): 9,
 (489, 514): 78,
 (489, 515): 286,
 (489, 516): 25,
 (489, 517): 28,
 (489, 518): 22,
 (489, 519): 61,
 (489, 523): 206,
 (489, 551): 311,
 (489, 552): 89,
 (489, 553): 12,
 (489, 562): 20,
 (489, 563): 3,
 (489, 564): 86,
 (489, 566): 188,
 (489, 568): 9,
 (489, 569): 19,
 (489, 570): 42,
 (489, 571): 35,
 (489, 572): 20,
 (489, 659): 8,
 (489, 664): 16,
 (489, 670): 11,
 (489, 671): 4,
 (489, 672): 10,
 (489, 679): 77,
 (489, 741): 37,
 (489, 742): 4,
 (489, 743): 10,
 (489, 744): 3,
 (489, 745): 28,
 (489, 749): 23,
 (489, 750): 21,
 (489, 752): 29,
 (489, 753): 11,
 (489, 755): 5,
 (489, 756): 15,
 (489, 757): 22,
 (489, 764): 57,
 (489, 765): 14,
 (489, 776): 14,
 (489, 777): 39,
 (489, 791): 6,
 (489, 794): 55,
 (489, 800): 2,
 (489, 803): 1,
 (489, 809): 65,
 (489, 810): 6,
 (489, 813): 3,
 (489, 814): 14,
 (489, 829): 14,
 (489, 830): 1,
 (489, 840): 22,
 (489, 862): 1,
 (489, 863): 3,
 (489, 864): 3,
 (489, 907): 14,
 (489, 908): 28,
 (489, 909): 16,
 (489, 912): 4,
 (489, 1099): 4,
 (489, 1100): 20,
 (489, 1101): 13,
 (489, 1102): 14,
 (489, 1103): 35,
 (489, 1104): 1,
 (489, 1115): 16,
 (489, 1116): 15,
 (489, 1124): 8,
 (489, 1125): 13,
 (489, 1128): 9,
 (489, 1129): 8,
 (489, 1138): 2,
 (489, 1139): 1,
 (489, 1140): 2,
 (489, 1141): 1,
 (489, 1144): 3,
 (489, 1145): 7,
 (489, 1146): 2,
 (489, 1147): 1,
 (489, 1152): 14,
 (489, 1156): 7,
 (489, 1160): 1,
 (489, 1161): 6,
 (489, 1181): 3,
 (489, 1184): 4,
 (489, 1185): 1,
 (489, 1186): 2,
 (489, 1187): 1,
 (489, 1198): 1,
 (490, 502): 44,
 (490, 503): 2,
 (490, 504): 5,
 (490, 507): 3,
 (490, 508): 4,
 (490, 509): 3,
 (490, 513): 2,
 (490, 514): 94,
 (490, 515): 143,
 (490, 516): 8,
 (490, 517): 10,
 (490, 518): 35,
 (490, 519): 11,
 (490, 523): 114,
 (490, 551): 247,
 (490, 552): 30,
 (490, 553): 2,
 (490, 564): 92,
 (490, 566): 253,
 (490, 568): 1,
 (490, 569): 1,
 (490, 570): 40,
 (490, 571): 21,
 (490, 572): 1,
 (490, 659): 6,
 (490, 664): 5,
 (490, 670): 16,
 (490, 671): 2,
 (490, 672): 4,
 (490, 679): 20,
 (490, 741): 5,
 (490, 742): 1,
 (490, 743): 65,
 (490, 744): 3,
 (490, 745): 5,
 (490, 749): 21,
 (490, 750): 21,
 (490, 752): 5,
 (490, 753): 4,
 (490, 755): 2,
 (490, 756): 13,
 (490, 757): 34,
 (490, 764): 46,
 (490, 765): 10,
 (490, 776): 7,
 (490, 777): 17,
 (490, 791): 3,
 (490, 794): 67,
 (490, 800): 2,
 (490, 803): 2,
 (490, 809): 163,
 (490, 810): 3,
 (490, 813): 4,
 (490, 814): 10,
 (490, 829): 14,
 (490, 837): 1,
 (490, 840): 2,
 (490, 862): 1,
 (490, 863): 2,
 (490, 864): 1,
 (490, 907): 13,
 (490, 908): 13,
 (490, 909): 9,
 (490, 912): 6,
 (490, 1100): 14,
 (490, 1101): 1,
 (490, 1102): 5,
 (490, 1103): 33,
 (490, 1104): 1,
 (490, 1115): 3,
 (490, 1116): 9,
 (490, 1124): 1,
 (490, 1125): 10,
 (490, 1128): 2,
 (490, 1129): 4,
 (490, 1144): 3,
 (490, 1145): 1,
 (490, 1152): 25,
 (490, 1156): 4,
 (490, 1161): 1,
 (490, 1181): 2,
 (490, 1186): 1,
 (502, 503): 16,
 (502, 504): 24,
 (502, 507): 23,
 (502, 508): 6,
 (502, 509): 6,
 (502, 511): 10,
 (502, 513): 10,
 (502, 514): 95,
 (502, 515): 89,
 (502, 516): 12,
 (502, 517): 14,
 (502, 518): 4,
 (502, 519): 20,
 (502, 523): 59,
 (502, 551): 135,
 (502, 552): 37,
 (502, 553): 5,
 (502, 562): 13,
 (502, 563): 4,
 (502, 564): 28,
 (502, 566): 120,
 (502, 568): 2,
 (502, 569): 19,
 (502, 570): 35,
 (502, 571): 19,
 (502, 572): 19,
 (502, 659): 11,
 (502, 664): 10,
 (502, 670): 3,
 (502, 671): 1,
 (502, 672): 11,
 (502, 679): 23,
 (502, 741): 17,
 (502, 742): 2,
 (502, 743): 5,
 (502, 744): 9,
 (502, 745): 19,
 (502, 749): 12,
 (502, 750): 13,
 (502, 752): 18,
 (502, 753): 4,
 (502, 755): 8,
 (502, 756): 7,
 (502, 757): 13,
 (502, 764): 33,
 (502, 765): 9,
 (502, 776): 26,
 (502, 777): 16,
 (502, 791): 9,
 (502, 794): 48,
 (502, 800): 1,
 (502, 803): 1,
 (502, 809): 26,
 (502, 810): 3,
 (502, 813): 3,
 (502, 814): 5,
 (502, 829): 13,
 (502, 835): 2,
 (502, 837): 1,
 (502, 840): 17,
 (502, 862): 3,
 (502, 863): 6,
 (502, 864): 7,
 (502, 865): 1,
 (502, 907): 3,
 (502, 908): 13,
 (502, 909): 10,
 (502, 912): 5,
 (502, 1099): 1,
 (502, 1100): 16,
 (502, 1101): 2,
 (502, 1102): 7,
 (502, 1103): 14,
 (502, 1104): 2,
 (502, 1115): 10,
 (502, 1116): 4,
 (502, 1124): 3,
 (502, 1125): 9,
 (502, 1128): 6,
 (502, 1129): 1,
 (502, 1138): 7,
 (502, 1140): 4,
 (502, 1141): 2,
 (502, 1144): 4,
 (502, 1145): 4,
 (502, 1152): 7,
 (502, 1156): 2,
 (502, 1161): 2,
 (502, 1181): 1,
 (502, 1185): 1,
 (502, 1186): 3,
 (502, 1187): 1,
 (502, 1188): 1,
 (503, 504): 1,
 (503, 507): 2,
 (503, 513): 55,
 (503, 514): 13,
 (503, 515): 14,
 (503, 516): 1,
 (503, 517): 3,
 (503, 519): 7,
 (503, 523): 5,
 (503, 551): 60,
 (503, 552): 9,
 (503, 553): 2,
 (503, 562): 2,
 (503, 563): 1,
 (503, 564): 5,
 (503, 566): 36,
 (503, 568): 1,
 (503, 571): 1,
 (503, 659): 2,
 (503, 664): 40,
 (503, 670): 1,
 (503, 672): 1,
 (503, 741): 6,
 (503, 742): 22,
 (503, 745): 4,
 (503, 749): 1,
 (503, 750): 6,
 (503, 752): 2,
 (503, 756): 2,
 (503, 757): 5,
 (503, 764): 9,
 (503, 765): 2,
 (503, 776): 2,
 (503, 777): 2,
 (503, 791): 19,
 (503, 794): 13,
 (503, 809): 3,
 (503, 829): 7,
 (503, 834): 1,
 (503, 863): 1,
 (503, 902): 1,
 (503, 907): 1,
 (503, 908): 2,
 (503, 912): 1,
 (503, 1100): 7,
 (503, 1102): 1,
 (503, 1103): 2,
 (503, 1125): 1,
 (503, 1140): 40,
 (503, 1141): 7,
 (503, 1152): 1,
 (503, 1156): 1,
 (503, 1181): 1,
 (503, 1185): 18,
 (503, 1188): 1,
 (504, 507): 3,
 (504, 511): 1,
 (504, 513): 1,
 (504, 514): 36,
 (504, 515): 31,
 (504, 516): 3,
 (504, 517): 6,
 (504, 518): 3,
 (504, 519): 9,
 (504, 523): 28,
 (504, 551): 73,
 (504, 552): 23,
 ...}

 Чтобы рекомендации отражали те пары курсов, которые встречались действительно часто и покупались многими пользователями, необходимо отделить их от того, что можно назвать случайными покупками

In [12]:
#Это можно узнать, создав спикок, элеменатми которого станут количества покупок той или иной пары курсов
values = []
for value in sorted_pairs.values():
    values.append(value)
#И вычислив персентили этого списка
statistics.quantiles(values, n=10)

[1.0, 1.0, 2.0, 2.0, 3.0, 5.0, 7.0, 11.0, 22.0]

Мы видим, что из 3989 купленных уникальных пар, подавляющее большинство(80%) было приобретено не более десяти раз. Это вполне ожидаемо, когда общее количество купленных пар равняется 40017, самая популярная пара была приобретена 797 раз, и в среднем каждая отдельная пара была куплена 10,03 раза.
Исходя из этого, пары курсов, купленные менее 11 раз, могут рассматриваться нами как случайность и не включаться в рекомендации.

In [13]:
#Определим функцию, которая выдавать не более двух наиболее популярных парх для каждого конкретного курса 
def recommend(course):
    course_list = [] #пустой список 
    for i in sorted_pairs.keys(): #цикл проходит по ключам отсорированного словаря
        if i[0]==course and sorted_pairs[i]>=11: #если первый элемент пары курсов - id курса, поданного на вход функции и если пары курсов с ним покупались не реже порогового значения
            course_list.append((i, sorted_pairs[i])) #добавляем в пустой список кортеж и пары курсов и их количества
    sorted_course_list = sorted(course_list, key=lambda x: x[1],reverse = True) #сортировка списка по убыванию количества
    return sorted_course_list[:2] #вывод только двух значений для первой и второй рекомендаций соответственно

In [14]:
#Для дальнейщей работы возьмем только уникальные курсы, отбросив повторения
courses=df['resource_id'].unique()

### Теперь перейдем к финальной части задания - созданию таблицы

In [15]:
#Создадим датафрейм с рекомендациями, где проведем замену пустых значений на саммый полулярный и второй по популярности курс
recomend_df = pd.DataFrame (columns = ['Рекомендация №1', 'Рекомендация №2'])
for i in courses:
    if len(recommend(i)) == 2: #если функция выдает 2 рекомендации
        recomend_df.loc[i] = [recommend(i)[0][0][1], recommend(i)[1][0][1]]
    elif len(recommend(i)) == 1: #когда рекомендация только одна
        recomend_df.loc[i] = [recommend(i)[0][0][1], first_best]
    else: #когда рекомендаций нет
        recomend_df.loc[i] = [first_best,second_best]
#Кроме того, введем в табилицу колонку с номером курса
recomend_df=recomend_df.reset_index()
recomend_df = recomend_df.rename(columns={'index':'course_id'})

In [16]:
#Посмотрим на получившийся датафрейм 
recomend_df

     course_id Рекомендация №1 Рекомендация №2
0          516             745             553
1         1099            1139            1187
2          356             571             357
3          357             571            1125
4         1125            1186            1144
..         ...             ...             ...
121        902             551             566
122        837             551             566
123       1200             551             566
124        833             551             566
125        830             551             566

[126 rows x 3 columns]

In [17]:
#Проверим, есть ли дубликаты в строках, т.е. не совпадают ли рекомендации друг с другом
# и с курсом, к которому они выступают рекомендациями
x = pd.Series(recomend_df.apply(lambda row: row.is_unique, axis=1))
x.all()

True

### Дубликактов не обнаружено, а значит, датафрейм с рекомендациями для для продакт-менеджера и отдела маркетинга готов